# Ignore precompiled assets
public/assets

# Ignore Vagrant files
/.vagrant

# Ignore bundler config.
/.bundle

# Ignore generated docs
/html
.yardoc

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore provisioning files
*.cfg
/ansible/*.cfg
/ansible/*.retry
/hosts

# ignore ADRL data files
/derivatives
/download_root
/fedora-data
/ingest
/install
/marmotta
/solr
/tomcat
/uploads

# Ignore all logfiles and tempfiles.
*.log
/logs
/log/*
!/log/.keep
/tmp
/jetty
.rvmrc
.byebug_history

# Passwords etc
/config/*.yml

/tags
/env
