---
http_interactions:
- request:
    method: post
    uri: https://ezid.cdlib.org/shoulder/ark:/99999/fk4
    body:
      encoding: UTF-8
      string: |-
        _profile: erc
        erc.what: Cylinder Audio Archive
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Authorization:
      - Basic YXBpdGVzdDphcGl0ZXN0
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: 'success: ark:/99999/fk4vt1x193'
  recorded_at: Thu, 09 Jun 2016 23:44:24 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/col.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - 160d3d1f930ab1178a014fcc61eb82fb
      X-Preflabel:
      - Collection
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/col
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML+RDFa 1.0//EN\"\n            \"http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd\">\n<html
        version=\"XHTML+RDFa 1.0\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:madsrdf=\"http://www.loc.gov/mads/rdf/v1#\"
        xmlns:ri=\"http://id.loc.gov/ontologies/RecordInfo#\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        xmlns:rdfs=\"http://www.w3.org/2000/01/rdf-schema#\" xmlns:skos=\"http://www.w3.org/2004/02/skos/core#\"
        xmlns:skosxl=\"http://www.w3.org/2008/05/skos-xl#\" xmlns:owl=\"http://www.w3.org/2002/07/owl#\"
        xmlns:cs=\"http://www.w3.org/2003/06/sw-vocab-status/ns#\" xmlns:dcterms=\"http://purl.org/dc/terms/\">\n
        \ <head>\n    <title>Collection - LC Linked Data Service | Library of Congress</title>\n
        \   <link rel=\"shortcut icon\" type=\"image/png\" href=\"/static/images/favicon.ico\"/>\n
        \   <meta http-equiv=\"content-type\" content=\"application/xhtml+xml; charset=utf-8\"/>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n
        \   <link rel=\"search\" href=\"/opensearch/\" type=\"application/opensearchdescription+xml\"
        title=\"Library of Congress Authorities and Vocabularies Search\"/>\n    <meta
        name=\"keywords\" content=\"Resource Types: --Collection - LC Linked Data
        Service | Library of Congress, LC Linked Data Servic[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/aum.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - eac4347e0e725250fc0889dcc4a6fcb2
      X-Preflabel:
      - Audio musical
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/aum
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/aun.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - 5a14b9de9ab1d9e0eb0753821c420114
      X-Preflabel:
      - Audio non-musical
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/aun
    body:
      encoding: UTF-8
      string: "<!DOCTYPE [...]
- request:
    method: get
    uri: http://vocab.getty.edu/aat/300028640
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - http://vocab.getty.edu/download/nt?uri=http://vocab.getty.edu/aat/300028640
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:44:26 GMT
- request:
    method: get
    uri: http://vocab.getty.edu/download/nt?uri=http://vocab.getty.edu/aat/300028640
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="aat_300028640.nt"
      Content-Type:
      - application/n-triples;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <http://vocab.getty.edu/aat/300028640> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://vocab.getty.edu/ontology#Subject> .
        <http://vocab.getty.edu/aat/300028640> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.w3.org/2004/02/skos/core#Concept> .
        <http://vocab.getty.edu/aat/300028640> <http:[...]
- request:
    method: post
    uri: https://ezid.cdlib.org/id/ark:/99999/fk4vt1x193
    body:
      encoding: UTF-8
      string: |-
        _target: http://test.host/lib/ark:/99999/fk4vt1x193
        erc.when: 1890–1929
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Authorization:
      - Basic YXBpdGVzdDphcGl0ZXN0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: 'success: ark:/99999/fk4vt1x193'
  recorded_at: Thu, 09 Jun 2016 23:44:26 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/aum
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/vocabulary/resourceTypes/aum.jsonld
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/aum
      X-Preflabel:
      - Audio musical
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:44:35 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/aum.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - 10d1718603497d0913bfe83e3e320e67
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/aum
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "_:b64vocabularyresourceTypesaum", "[...]
[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/iso639-2/ita
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/vocabulary/iso639-2/ita.jsonld
      X-Uri:
      - http://id.loc.gov/vocabulary/iso639-2/ita
      X-Preflabel:
      - Italian
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:44:58 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/iso639-2/ita.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - 88697447edebfcf59cc2e95a007cfa20
      X-Uri:
      - http://id.loc.gov/vocabulary/iso639-2/ita
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "http://id.loc.gov/vocabulary/iso639-1/it", "@[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/iso639-2/fre
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/vocabulary/iso639-2/fre.jsonld
      X-Uri:
      - http://id.loc.gov/vocabulary/iso639-2/fre
      X-Preflabel:
      - French
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:45:26 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/iso639-2/fre.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - 1cb75018ffcc7f27d5ba43d526bc5565
      X-Uri:
      - http://id.loc.gov/vocabulary/iso639-2/fre
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        WyAgeyAiQGlkIjogImh0dHA6Ly9pZC5sb2MuZ292L3ZvY[...]
