---
http_interactions:
- request:
    method: post
    uri: https://ezid.cdlib.org/shoulder/ark:/99999/fk4
    body:
      encoding: UTF-8
      string: |-
        _profile: erc
        erc.what: Dirge for violin and piano (violin part)
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Authorization:
      - Basic YXBpdGVzdDphcGl0ZXN0
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: 'success: ark:/99999/fk44b3bh0v'
  recorded_at: Thu, 09 Jun 2016 23:43:55 GMT
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/no93011759
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/authorities/names/no93011759.jsonld
      X-Uri:
      - http://id.loc.gov/authorities/names/no93011759
      X-Preflabel:
      - Couper, Mildred, 1887-1974
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:43:58 GMT
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/no93011759.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - f3f9dc1caa555b8550c9e7c40109dd6e
      X-Uri:
      - http://id.loc.gov/authorities/names/no93011759
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "_:b84authoritiesnamesno93011759", "@type": [ "http://purl.org/vocab/changeset/schema#ChangeSet" ], "http://purl.org/vocab/changeset/schema#subjectOfChange": [ { "@id": "http://id.loc.gov/authorities/names/no93011759" } ], "http://purl.org/vocab/changeset/schema#creatorName": [ { "@id": "http://id.loc.gov/vocabulary/org[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/iso639-2/eng
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/vocabulary/iso639-2/eng.jsonld
      X-Uri:
      - http://id.loc.gov/vocabulary/iso639-2/eng
      X-Preflabel:
      - English
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:43:59 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/iso639-2/eng.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - 765fc79d94cb41444845c436c44f9003
      X-Uri:
      - http://id.loc.gov/vocabulary/iso639-2/eng
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "http://id.loc.gov/vocabulary/languages/eng", [...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/subjects/sh85084939
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/authorities/subjects/sh85084939.jsonld
      X-Uri:
      - http://id.loc.gov/authorities/subjects/sh85084939
      X-Preflabel:
      - Microtonal music
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:44:01 GMT
- request:
    method: get
    uri: http://id.loc.gov/authorities/subjects/sh85084939.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - 466e13077ab41005825917da9f470c26
      X-Uri:
      - http://id.loc.gov/authorities/subjects/sh85084939
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "_:b74authoritiessubjectssh850[...]
[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/organizations/cusb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/vocabulary/organizations/cusb.jsonld
      X-Uri:
      - http://id.loc.gov/vocabulary/organizations/cusb
      X-Preflabel:
      - University of California, Santa Barbara, Main Library
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:44:05 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/organizations/cusb.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - b28bfd0bca159849eadc7b268ff5af94
      X-Uri:
      - http://id.loc.gov/vocabulary/organizations/cusb
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "_:b20vocabularyorganizationscusb"[...]
[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/preservation/copyrightStatus/cpr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/vocabulary/preservation/copyrightStatus/cpr.jsonld
      X-Uri:
      - http://id.loc.gov/vocabulary/preservation/copyrightStatus/cpr
      X-Preflabel:
      - copyrighted
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:44:08 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/preservation/copyrightStatus/cpr.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - ac22e0ad20b9c1908910db955c588c2e
      X-Uri:
      - http://id.loc.gov/vocabulary/preservation/copyrightStatus/cpr
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "http:[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/not
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/vocabulary/resourceTypes/not.jsonld
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/not
      X-Preflabel:
      - Notated music
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:44:09 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/not.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - 9793b021a5bebe2449609cc0f6a7e954
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/not
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "_:b102vocabularyresourceTypesnot", [...]
- request:
    method: get
    uri: http://vocab.getty.edu/aat/300026430
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - http://vocab.getty.edu/download/nt?uri=http://vocab.getty.edu/aat/300026430
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:44:10 GMT
- request:
    method: get
    uri: http://vocab.getty.edu/download/nt?uri=http://vocab.getty.edu/aat/300026430
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="aat_300026430.nt"
      Content-Type:
      - application/n-triples;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <http://vocab.getty.edu/aat/300026430> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://vocab.getty.edu/ontology#Subject> .
        <http://vocab.getty.edu/aat/300026430> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.w3.org/2004/02/skos/core#Concept> .
        <http://vocab.getty.edu/aat/300026430> <http:[...]
[...]
- request:
    method: post
    uri: https://ezid.cdlib.org/id/ark:/99999/fk40k2mp4s
    body:
      encoding: UTF-8
      string: "_target: http://test.host/lib/ark:/99999/fk40k2mp4s\nerc.when: "
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Authorization:
      - Basic YXBpdGVzdDphcGl0ZXN0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: 'success: ark:/99999/fk40k2mp4s'
  recorded_at: Thu, 09 Jun 2016 23:44:14 GMT
- request:
    method: post
    uri: https://ezid.cdlib.org/id/ark:/99999/fk44b3bh0v
    body:
      encoding: UTF-8
      string: |-
        _target: http://test.host/lib/ark:/99999/fk44b3bh0v
        erc.when: 1937
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Authorization:
      - Basic YXBpdGVzdDphcGl0ZXN0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: 'success: ark:/99999/fk44b3bh0v'
  recorded_at: Thu, 09 Jun 2016 23:44:16 GMT
- request:
    method: get
    uri: https://ezid.cdlib.org/id/ark:/99999/fk40k2mp4s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Authorization:
      - Basic YXBpdGVzdDphcGl0ZXN0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        success: ark:/99999/fk40k2mp4s
        _updated: 1465515854
        _target: http://test.host/lib/ark:/99999/fk40k2mp4s
        _profile: erc
        _ownergroup: apitest
        _owner: apitest
        _export: yes
        _created: 1465515853
        _status: public
        erc.what: Mildred Couper papers
  recorded_at: Wed, 22 Jun 2016 17:00:21 GMT
[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/col
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/vocabulary/resourceTypes/col.jsonld
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/col
      X-Preflabel:
      - Collection
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Dec 2016 21:07:05 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/resourceTypes/col.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Etag:
      - 3e3b662c5dd91e1b75023cf27b950297
      X-Uri:
      - http://id.loc.gov/vocabulary/resourceTypes/col
    body:
      encoding: UTF-8
      string: |-
        [  { "@id": "_:b18vocabularyresourceTypescol", "[...]
[...]
- request:
    method: get
    uri: http://rightsstatements.org/vocab/InC/1.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - http://rightsstatements.org/page/InC/1.0/?language=en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Dec 2016 21:07:13 GMT
- request:
    method: get
    uri: http://rightsstatements.org/page/InC/1.0/?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - "<http://localhost:9000/page/InC/1.0/>; rel=derivedfrom"
      Content-Type:
      - text/html
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAA91ZW48btxV+31/Bjgt4F5WGkuz4spWEFE4DLGDnwRekRdMHakhpuOaQE5IjrVLkv+cccm7SSlqtnQJp98GWhuccfufKj5rpn7jJ/LYUJPeFml9cTPF/kinm3CzRZnjrEqKYXs2SJKwKxucXBP6mhfCMZDmzTvhZUvnl8FVCaH8x974cip8ruZ4ld8OKDTNTlMzLhRIJyYz2QoOmFDPBVyLpa2pWiFmylmJTGut7whvJfT7jYi0zMQxfBkRq6SVTQ5cxJWbjdNTB8NIrMX8vV7l[...]
[...]
- request:
    method: get
    uri: http://vocab.getty.edu/download/n3?uri=http://vocab.getty.edu/aat/300026430
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="aat_300026430.ttl"
      Content-Type:
      - text/turtle;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        QHByZWZpeCBhYXQ6IDxodHRwOi8vdm9jYWIuZ2V0dHkuZWR1L2Fh[...]
[...]
- request:
    method: get
    uri: http://rightsstatements.org/page/InC/1.0/?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - "<http://localhost:9000/page/InC/1.0/>; rel=derivedfrom"
      Content-Type:
      - text/html
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "<!doctype html>\n\n<html class=\"no-js\" lang=\"\">\n\n<head>\n    <meta
        charset=\"utf-8\" />\n    <meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"
        />\n    <title>Rights Statements</title>\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css\"
        />\n    <link href='//rightsstatements.org/css/rights-stmt.css' rel='stylesheet'>\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"//cloud.typography.com/7018914/6677352/css/fonts.css\"
        />\n</head>\n\n\n<body markdown=\"0\">\n\n    <script type=\"application/ld+json\">\n
        \       {\n  \"identifier\": \"InC\",\n  \"note\": [\n    {\n      \"@language\":
        \"en\",\n      \"@value\": \"You may find additional information about the
        copyright status of the Item on the website of the organization that has made
        the Item available.\"\n    },\n    {\n      \"@language\": \"en\",\n      \"@value\":
        \"Unless expressly stated otherwise, the organization that has made this Item
        available makes no warranties about the Item and cannot guarantee the accuracy
        of this Rights Statement. You are responsible for your own use.\"\n    },\n
        \   {\n      \"@language\": \"en\",\n      \"@value\": \"You may need to obtain
        other permissions for your intended use. For example, other rights such as
        publicity, privacy or moral rights may limit how you may use the material.\"\n
        \   }\n  ],\n  \"creator\": \"http://rightsstatements.org/vocab/irswg\",\n
        \ \"inScheme\": \"http://rightsstatements.org/vocab/1.0/\",\n  \"@type\":
        [\n    \"dcterms:RightsStatement\",\n    \"skos:Concept\"\n  ],\n  \"prefLabel\":
        {\n    \"@language\": \"en\",\n    \"@value\": \"In Copyright\"\n  },\n  \"versionInfo\":
        \"1.0\",\n  \"@context\": {\n    \"note\": \"http://www.w3.org/2004/02/skos/core#note\",\n
        \   \"creator\": {\n      \"@id\": \"http://purl.org/dc/terms/creator\",\n
        \     \"@type\": \"@id\"\n    },\n    \"relatedMatch\": {\n      \"@id\":
        \"http://www.w3.org/2004/02/skos/core#relatedMatch\",\n      \"@type\": \"@id\"\n
        \   },\n    \"scopeNote\": \"http://www.w3.org/2004/02/skos/core#scopeNote\",\n
        \   \"prefLabel\": \"http://www.w3.org/2004/02/skos/core#prefLabel\",\n    \"definition\":
        \"http://www.w3.org/2004/02/skos/core#definition\",\n    \"identifier\": \"http://purl.org/dc/elements/1.1/identifier\",\n
        \   \"inScheme\": {\n      \"@id\": \"http://www.w3.org/2004/02/skos/core#inScheme\",\n
        \     \"@type\": \"@id\"\n    },\n    \"closeMatch\": {\n      \"@id\": \"http://www.w3.org/2004/02/skos/core#closeMatch\",\n
        \     \"@type\": \"@id\"\n    },\n    \"modified\": {\n      \"@id\": \"http://purl.org/dc/terms/modified\",\n
        \     \"@type\": \"http://www.w3.org/2001/XMLSchema#date\"\n    },\n    \"versionInfo\":
        \"http://www.w3.org/2002/07/owl#versionInfo\",\n    \"cc\": \"http://creativecommons.org/ns#\",\n
        \   \"schema\": \"http://schema.org/\",\n    \"premiscopy\": \"http://id.loc.gov/vocabulary/preservation/copyrightStatus/\",\n
        \   \"owl\": \"http://www.w3.org/2002/07/owl#\",\n    \"xsd\": \"http://www.w3.org/2001/XMLSchema#\",\n
        \   \"dcmitype\": \"http://purl.org/dc/dcmitype/\",\n    \"skos\": \"http://www.w3.org/2004/02/skos/core#\",\n
        \   \"rdfs\": \"http://www.w3.org/2000/01/rdf-schema#\",\n    \"p3p\": \"http://www.w3.org/2002/01/p3prdfv1#\",\n
        \   \"edm\": \"http://www.europeana.eu/schemas/edm/\",\n    \"dcterms\": \"http://purl.org/dc/terms/\",\n
        \   \"odrl\": \"http://www.w3c.org/community/odrl/two/vocab/2.1/\",\n    \"foaf\":
        \"http://xmlns.com/foaf/0.1/\",\n    \"dc\": \"http://purl.org/dc/elements/1.1/\"\n
        \ },\n  \"closeMatch\": \"http://www.europeana.eu/rights/rr-f/\",\n  \"relatedMatch\":
        \"premiscopy:cpr\",\n  \"modified\": \"2016-05-09\",\n  \"definition\": {\n
        \   \"@language\": \"en\",\n    \"@value\": \"This Item is protected by copyright
        and/or related rights.\\n\\n  You are free to use this Item in any way that
        is permitted by the copyright and related rights legislation that applies
        to your use.\\n\\n  For other uses you need to obtain permission from the
        rights-holder(s).\"\n  },\n  \"@id\": \"http://rightsstatements.org/vocab/InC/1.0/\",\n
        \ \"scopeNote\": {\n    \"@language\": \"en\",\n    \"@value\": \"This Rights
        Statement can be used for an Item that is in copyright. Using this statement
        implies that the organization making this Item available has determined that
        the Item is in copyright and either is the rights-holder, has obtained permission
        from the rights-holder(s) to make the Work available, or makes the Work available
        under an exception or limitation to copyright (including Fair Use) that entitles
        it to make the Work available.\"\n  }\n}\n    </script>\n\n    <div class=\"row
        columns statement-container\">\n        <div class=\"statement-wrapper\">\n
        \           <div class=\"row statement-main\">\n                <div class=\"large-4
        columns\">\n                    <div class=\"statement-iconcolumn\">\n                        <img
        src=\"//rightsstatements.org/files/buttons/InC.white.svg\" title=\"In Copyright\"
        />\n                    </div>\n                </div>\n                <div
        class=\"large-8 columns\">\n                    <div class=\"statement-textcolumn\">\n
        \                       <h1>In Copyright</h1>\n                        <p>This
        Item is protected by copyright and/or related rights.\n\n  You are free to
        use this Item in any way that is permitted by the copyright and related rights
        legislation that applies to your use.\n\n  For other uses you need to obtain
        permission from the rights-holder(s).</p>\n                        \n\n                        \n
        \                       <h2>Notices</h2>\n                        <ul>\n                            \n
        \                               <li><span>Unless expressly stated otherwise,
        the organization that has made this Item available makes no warranties about
        the Item and cannot guarantee the accuracy of this Rights Statement. You are
        responsible for your own use.</span></li>\n                            \n
        \                               <li><span>You may find additional information
        about the copyright status of the Item on the website of the organization
        that has made the Item available.</sp[...]
[...]
