---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/pippin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: SEE OTHER
    headers:
      Location:
      - http://id.loc.gov/authorities/names/pippin.jsonld
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Jun 2016 23:58:59 GMT
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/pippin.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - 2d6c620388d7bf99fbf2dead900ae76c
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML+RDFa 1.0//EN\"\n            \"http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd\">\n<html
        version=\"XHTML+RDFa 1.0\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:madsrdf=\"http://www.loc.gov/mads/rdf/v1#\"
        xmlns:ri=\"http://id.loc.gov/ontologies/RecordInfo#\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        xmlns:rdfs=\"http://www.w3.org/2000/01/rdf-schema#\" xmlns:skos=\"http://www.w3.org/2004/02/skos/core#\"
        xmlns:skosxl=\"http://www.w3.org/2008/05/skos-xl#\" xmlns:owl=\"http://www.w3.org/2002/07/owl#\"
        xmlns:cs=\"http://www.w3.org/2003/06/sw-vocab-status/ns#\" xmlns:dcterms=\"http://purl.org/dc/terms/\">\n
        \ <head>\n    <title>404 - LC Linked Data Service | Library of Congress</title>\n
        \   <link rel=\"shortcut icon\" type=\"image/png\" href=\"/static/images/favicon.ico\"/>\n
        \   <meta http-equiv=\"content-type\" content=\"application/xhtml+xml; charset=utf-8\"/>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n
        \   <link rel=\"search\" href=\"/opensearch/\" type=\"application/opensearchdescription+xml\"
        title=\"Library of Congress Authorities and Vocabularies Search\"/>\n    <meta
        name=\"keywords\" content=\"404, LC Linked Data Service, linked data, Library
        of Congress Subject Headings,                         subject headings, lcsh,
        id.loc.gov, linked data,                         authorities, standards, vocabularies\"/>\n
        \   <meta name=\"keywords\" content=\"404 - LC Linked Data Service | Library
        of Congress , Library of Congress Subject Headings, Library of Congress Name
        Authorities,                         subject headings, name authorities, lcsh,
        lcnaf, id.loc.gov,  linked data,                         authorities, standards,
        vocabularies\"/>\n    <!-- CSS -->\n    <link type=\"text/css\" media=\"screen\"
        rel=\"stylesheet\" href=\"/static/css/2012/styles.css\"/>\n    <link type=\"text/css\"
        media=\"print\" rel=\"stylesheet\" href=\"/static/css/2012/loc_print_v2.css\"/>\n
        \   <!--[if lte IE 7]><link type=\"text/css\" media=\"screen\" rel=\"stylesheet\"
        href=\"/static/css/2012/loc_lte_ie6.css\" /><![endif]-->\n    <!-- End CSS
        -->\n    <!-- <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js\"></script>
        -->\n    <script type=\"text/javascript\" src=\"http://cdn.loc.gov/js/lib/jquery-1.8.2.min.js\"></script>\n
        \   <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js\"></script>\n
        \   <script type=\"text/javascript\" src=\"/static/js/loc_expandcollapse.js\"></script>\n
        \   <script type=\"text/javascript\" [...]
