<% if presenter.component_map_presenters.size > 0 %>
  <h2>Component Maps</h2>
  <div class="row">
    <% presenter.component_map_presenters.each_with_index do |p,i| %>
      <%= link_to image_tag(p.solr_document["square_thumbnail_url_ssm"].first), main_app.catalog_ark_path("ark:", params["shoulder"], p.id), :id => "componentmap#{i}" %>
    <% end %>
  </div>
<% end %>
