<h2>Component Maps</h2>

<div class="row">
  <% presenter.component_map_presenters.each_with_index do |p,i| %>
    <div class="col-xs-6 col-md-2">
      <%= render_thumbnail_tag p.solr_document, { class: "ComponentMap"}, { class: "thumbnail", id: "componentmap#{i}" }%>
    </div>
  <% end %>
</div>
