<div class="panel panel-default parent_attrs">
  <div class="panel-heading">
    <h2> Collection Attributes </h2>
  </div>

  <table class="table table-striped attributes">
    <tbody>
      <tr>
        <th> Collection </th>
        <td>
          <ul class="tabular">
            <% presenter.collection_ids.each_with_index do |id, j| %>
              <li class="attribute">
                <%= link_to presenter.collection[j], main_app.collection_path(id) %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>

      <tr>
        <th> Map Set </th>
        <td>
          <ul class="tabular">
            <li class="attribute">
              <%= link_to presenter.map_set_label, main_app.curation_concerns_map_set_path(presenter.parent_id) %>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
