<div class="static">
  <h2> About the Alexandria Digital Research Library </h2>
  <div id="about_body">
    <p>The Alexandria Digital Research Library (ADRL) is <a href="http://www.library.ucsb.edu">UC Santa Barbara Library’s</a> home for collections of digital research materials, including images, text, streamed media, and numeric and spatial data. This comprehensive digital library, when complete, will provide access to millions of hidden digital research assets in UCSB Library’s possession, and serve as a single search access point.</p>
    <p>Many digital resources have already been added to ADRL and you can search for them now. Additional features and content are continually being added.</p>
    <p>ADRL builds on the expertise that UCSB developed in the 1990s with the <a href="http://legacy.alexandria.ucsb.edu">Alexandria Digital Library (ADL)</a>, an online repository for geospatial information. The new ADRL is more diverse, covering multiple disciplines and types of information.</p>
    <p>Materials in ADRL are subject to copyright and other restrictions, so a UCSB NetID and password may be required to view some materials.</p>
  </div>
</div>
