<div class="static">
  <h2>Collection Usage Guidelines</h2>
  <p>The Alexandria Digital Research Library (ADRL) provides UCSB scholars, the people of California, and the global community, with digital collections to inspire and support their intellectual and creative endeavors.</p>
  <p>Materials in these collections may be protected by U.S. Copyright law (Title 17, U.S.C.). There may also be other use restrictions due to rights such as privacy or publicity, trademark, licensing, or gift or purchase agreements. While the UCSB Library has made reasonable effort to provide accurate information related to copyright and other restrictions, rights for some materials may be difficult to determine.</p>
  <p>Materials identified as public domain may be freely used. For all other materials, rights assessment is your responsibility. You must determine whether your use of any item requires the permission of any other person or entity, or whether you can exercise your <a href="http://www.library.ucsb.edu/sites/default/files/attachments/services/course-reserves/limitations-copyright-considerations/SCom_fairUseChecklist_final.pdf">fair use rights</a>.</p>
  <p>When citing or using material from the site, please provide our institution name (UCSB Library) and a link to the item, so that others can return to the original and learn more about it. You can then use your preferred style guide for formatting the citation. The Library of Congress provides additional guidance on <a href="http://www.loc.gov/teachers/usingprimarysources/citing.html">citing primary sources</a>.</p>
</div>
