<div id="main_header">
  <h2> Providing access for research, teaching and discovery to unique digital materials from UC Santa Barbara Library. </h2>
</div>

<div class="welcome_inner">
	<div id="left_column">
    <h4>About This Site</h4>
    <p>
      The Alexandria Digital Research Library (ADRL) is <a href="http://www.library.ucsb.edu">UC Santa Barbara Library’s</a> home
      for collections of digital research materials, including images,
      text, streamed media, and numeric and spatial data. This
      comprehensive digital library, when complete, will provide
      access to millions of hidden digital research assets in UCSB
      Library’s possession, and serve as a single search access point.
    </p>
    <%= link_to 'Read more…', about_path %>
  </div>

  <div id="right_column">
    <h4> How to Use This Site </h4>
    <p>
      Enter one or more words into the box above to search the
      bibliographic records of all items in the Alexandria Digital
      Research Library, or select “Collection,” “Contributor,”
      “Format,” or “Topic” to narrow your search.
    </p>
  </div>
</div>
