<div class="static">

<h2>What is ADRL?</h2>
<p>ADRL, or the Alexandria Digital Research Library, contains collections of digital research materials held at <a href="http://www.library.ucsb.edu">UC Santa Barbara Library</a>, including images, text, streamed media, and numeric and spatial data.</p>
<p>Browse by <a href="http://alexandria.ucsb.edu/collections">collection</a> to find a complete list of current collections. New collections are being added all the time.</p>

<h2>Using ADRL</h2>
<ul>
<li><a href="#who-can-use-adrl">Who can use ADRL?</a></li>
<li><a href="#i-am-conducting-research-can-you-help-me-find-more-information-about-my-topic">I am conducting research. Can you help me find more information about my topic?</a></li>
<li><a href="#i-found-a-particular-thesis-or-dissertation-in-adrl-that-i-want-to-read-but-access-is-restricted-how-can-i-get-a-copy-of-this-dissertation">I found a particular thesis or dissertation in ADRL that I want to read, but access is restricted. How can I get a copy of this dissertation?</a></li>
<li><a href="#how-can-i-obtain-a-copy-of-an-image-that-i-found-in-adrl">How can I obtain a copy of an image that I found in ADRL?</a></li>
<li><a href="#where-can-i-find-geospatial-content-from-the-old-alexandria-digital-library-adl">Where can I find geospatial content from the old Alexandria Digital Library (ADL)?</a></li>
<li><a href="#how-do-i-cite-materials-that-i-find-in-adrl">How do I cite materials that I find in ADRL?</a></li>
<li><a href="#i-have-more-information-about-an-item-in-adrl.-how-can-i-provide-it">I have more information about an item in ADRL. How can I provide it?</a></li>
<li><a href="#what-is-the-technical-architecture-of-adrl">What is the technical architecture of ADRL?</a></li>
<li><a href="#how-can-i-report-a-problem-with-using-adrl">How can I report a problem with using ADRL?</a></li>
</ul>

<h3 id="who-can-use-adrl" class="question">Who can use ADRL?</h3>
<p>ADRL is publicly available and searchable to anyone. Materials in ADRL are subject to copyright and other restrictions, so a UCSB NetID and password may be required to view some materials.</p>
<h3 id="i-am-conducting-research.-can-you-help-me-find-more-information-about-my-topic" class="question">I am conducting research. Can you help me find more information about my topic?</h3>
<p>If you need help finding more information about a topic, or have a general research question, use our <a href="http://www.library.ucsb.edu/help/ask-librarian">Ask a Librarian</a> service to call, chat, or email a librarian, or to make an appointment.</p>
<h3 id="i-found-a-particular-thesis-or-dissertation-in-adrl-that-i-want-to-read-but-access-is-restricted.-how-can-i-get-a-copy-of-this-dissertation" class="question">I found a particular thesis or dissertation in ADRL that I want to read, but access is restricted. How can I get a copy of this dissertation?</h3>
<p>Many theses and dissertations are not available free online to those outside UCSB. You can request a copy through your institution’s interlibrary loan service or <a href="http://www.proquest.com/products-services/dissertations/order-dissertation.html">purchase it from ProQuest</a>.</p>
<h3 id="how-can-i-obtain-a-copy-of-an-image-that-i-found-in-adrl" class="question">How can I obtain a copy of an image that I found in ADRL?</h3>
<p>The majority of images in ADRL originate from UCSB Library’s <a href="http://www.library.ucsb.edu/special-collections">Department of Special Research Collections (SRC)</a>. Details about SRC’s reproduction fees and how to submit an online request for reproduction can be found at <a href="http://www.library.ucsb.edu/special-collections/research/copies_overview" class="uri">http://www.library.ucsb.edu/special-collections/research/copies_overview</a>.</p>
<h3 id="where-can-i-find-geospatial-content-from-the-old-alexandria-digital-library-adl" class="question">Where can I find geospatial content from the old Alexandria Digital Library (ADL)?</h3>
<p>All content from the old Alexandria Digital Library are accessible in the <a href="http://www.library.ucsb.edu/mil">Map &amp; Imagery Laboratory (MIL)</a> and the <a href="http://www.library.ucsb.edu/interdisciplinary-research-collaboratory">Interdisciplinary Research Collaboratory</a> at UCSB Library. We are in the process of adding as much of that data as possible to ADRL. MIL has additional <a href="http://www.library.ucsb.edu/node/7013">spatial data collections</a>, as well as extensive collections of maps and aerial photographs.</p>
<h3 id="how-do-i-cite-materials-that-i-find-in-adrl" class="question">How do I cite materials that I find in ADRL?</h3>
<p>This will vary depending on the type of resource and your preferred citation format. The following standard information should be included in the citation, regardless of format: creator, title, date, collection name, the institution (UC Santa Barbara Library), and the item’s URL. This information can be found with each item in ADRL.</p>
<p>Example:</p>
<pre>
London, Arthur. Soldiers and other onlookers at festival in Kumasi. Circa 1910-early 1920s. Arthur London / Gold Coast [Ghana] Photograph Collection. Department of Special Research Collections, UC Santa Barbara Library. http://alexandria.ucsb.edu/lib/ark:/48907/f3cf9ppb
</pre>
<p>Example:</p>
<pre>
Dryden, P. N. (2012). These Are a Few of My Favorite Things: The Cultural Meaning of the Tree (Doctoral dissertation). Retrieved from Alexandria Digital Research Library. (http://alexandria.ucsb.edu/lib/ark:/48907/f3000017)
</pre>
<h3 id="i-have-more-information-about-an-item-in-adrl.-how-can-i-provide-it" class="question">I have more information about an item in ADRL. How can I provide it?</h3>
<p>If you have additional information about the history or provenance of an item in our ADRL collections, please use our <a href="http://alexandria.ucsb.edu/contact_us">Contact Us</a> form to get in touch.</p>
<h3 id="what-is-the-technical-architecture-of-adrl" class="question">What is the technical architecture of ADRL?</h3>
<p>ADRL is a locally developed digital library application built using the Hydra technical framework. Hydra is based around several primary components, all of which are free and open source:</p>
<ul>
<li><p><a href="http://www.duraspace.org/about_fedora">Fedora</a>, a robust repository layer for the storage and management of digital objects;</p></li>
<li><p><a href="http://lucene.apache.org/solr/">Solr</a>, an indexing platform built on Apache Lucene, that provides fast access to information about repository objects and other resources;</p></li>
<li><p><a href="http://projectblacklight.org/">Blacklight</a>, a Ruby on Rails engine that provides a customizable discovery interface; and</p></li>
<li><p><a href="https://github.com/projecthydra/hydra-head/wiki">HydraHead</a>, a Ruby on Rails gem, or software library, that works with Active Fedora to provide CUD (create, update, and delete) functions for repository objects, along with other content management actions.</p></li>
</ul>
<p>ADRL includes <a href="https://github.com/projecthydra/curation_concerns">Curation Concerns</a>, a Ruby on Rails gem, that gives Hydra developers a common toolset to manage a wide range of complex digital objects. This gem provides a consistent way to manage various types of complex digital objects and their relationships such as manuscript collections, photos and printed ephemera, simple and complex audio and video recordings. Because the underlying relationships are described using the <a href="https://github.com/duraspace/pcdm/wiki">Portland Common Data Model (PCDM)</a>, these digital objects can be shared with non-Hydra systems using standard internet protocols for sharing Linked Data. The ADRL metadata model is expressed using the <a href="https://www.w3.org/TR/2014/REC-rdf11-concepts-20140225/">Resource Description Framework (RDF)</a>. Archival Resource Keys (ARKs), created using the California Digital Library’s <a href="http://ezid.cdlib.org">EZID service</a>, provide unique, persistent identifiers for repository objects.</p>
<p>ADRL was developed in partnership with <a href="https://curationexperts.com">Data Curation Experts (DCE)</a>.</p>
<p>More information about Hydra is available on <a href="https://projecthydra.org">Project Hydra</a> and the <a href="https://wiki.duraspace.org/display/hydra/Technical+Framework+and+its+Parts">DuraSpace wiki</a>.</p>
<h3 id="how-can-i-report-a-problem-with-using-adrl" class="question">How can I report a problem with using ADRL?</h3>
<p>To report a problem or request further assistance, please use the <a href="http://alexandria.ucsb.edu/contact_us">Contact Us</a> form.</p>
</div>
