defaults: &defaults
  binary_source_root: <%= ENV['ADRL_BINARY_ROOT'] || "/opt/ingest" %>
  derivatives_dir: <%= ENV['ADRL_DERIVATIVES'] || "#{Rails.root}/tmp/derivatives" %>
  download_root: <%= ENV['ADRL_DOWNLOAD_ROOT'] || "#{Rails.root}/tmp/download_root" %>
  ezid_host: ezid.cdlib.org
  ezid_port: 443
  ffmpeg_path: <%= ENV['FFMPEG_PATH'] || "ffmpeg" %>
  internal_local_vocab_root: http://<%= Rails.application.config.host_name %>
  log_dir: <%= Rails.root.join("log") %>
  minter_state: <%= ENV['ADRL_MINTER_STATE'] || "#{Rails.root}/tmp/minter-state" %>
  riiif_fedora_cache: <%= Rails.root.join "tmp", "network_files" %>
  riiif_thumbnails: "/opt/riiif/derivatives"
  thumbnails:
    # For the collection preview and for the map trays
    square:
      size: "100,"
      region: "square" # defaults to 'full'
    # For search results page
    search:
      size: "300,"
    # For item-level page
    basic:
      size: "400,"
    large:
      size: "1000,"
  uploads_dir: <%= ENV['ADRL_UPLOADS'] || Rails.root.join("tmp", "uploads") %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  derivatives_dir: /opt/alexandria/derivatives
  download_root: /opt/download_root
  ffmpeg_path: /usr/local/bin/ffmpeg
  log_dir: /var/log/samvera
  minter_state: /opt/alexandria/shared/minter-state
  uploads_dir: /opt/alexandria/uploads
