defaults: &defaults
  download_root: 'tmp/download_root'
  marmotta_host: localhost:8180
  internal_local_vocab_root: http://<%= Rails.application.config.host_name %>
  minter_state: 'tmp/minter-state'
development:
  <<: *defaults
test:
  <<: *defaults
production:
  <<: *defaults
  marmotta_host: localhost:8080
  internal_local_vocab_root: 'http://alexandria.ucsb.edu:8080/fedora/rest'
