defaults: &defaults
  derivatives_dir: <%= ENV['ADRL_DERIVATIVES'] || "#{Rails.root}/tmp/derivatives" %>
  download_root: <%= ENV['ADRL_DOWNLOAD_ROOT'] || "#{Rails.root}/tmp/download_root" %>
  ezid_shoulder: "ark:/99999/fk4"
  internal_local_vocab_root: http://<%= Rails.application.config.host_name %>
  minter_state: <%= ENV['ADRL_MINTER_STATE'] || "#{Rails.root}/tmp/minter-state" %>
  uploads_dir: <%= ENV['ADRL_UPLOADS'] || "#{Rails.root}/tmp/uploads" %>
  ffmpeg_path: <%= ENV['FFMPEG_PATH'] || "ffmpeg" %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  derivatives_dir: /opt/alexandria/derivatives
  download_root: /opt/download_root
  ezid_shoulder: "ark:/48907/f3"
  minter_state: /opt/alexandria/shared/minter-state
  uploads_dir: /opt/alexandria/uploads
  ffmpeg_path: /usr/local/bin/ffmpeg
