defaults: &defaults
  derivatives_dir: <%= ENV['ADRL_DERIVATIVES'] || "#{Rails.root}/tmp/derivatives" %>
  download_root: <%= ENV['ADRL_DOWNLOAD_ROOT'] || "#{Rails.root}/tmp/download_root" %>
  ezid_host: ezid.cdlib.org
  ezid_port: 443
  internal_local_vocab_root: http://<%= Rails.application.config.host_name %>
  localhost_port: 3000
  marmotta_host: localhost:8080
  minter_state: <%= ENV['ADRL_MINTER_STATE'] || "#{Rails.root}/tmp/minter-state" %>
  uploads_dir: <%= ENV['ADRL_UPLOADS'] || "#{Rails.root}/tmp/uploads" %>
  ffmpeg_path: <%= ENV['FFMPEG_PATH'] || "ffmpeg" %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  derivatives_dir: /opt/alexandria/derivatives
  download_root: /opt/download_root
  minter_state: /opt/alexandria/shared/minter-state
  uploads_dir: /opt/alexandria/uploads
  ffmpeg_path: /opt/ffmpeg/bin/ffmpeg
