## Environment
default: &default
  attribute: uid
  base: ou=people,dc=dce,dc=com
  group_base:

development:
  host:
  port: 389
  admin_user: cn=admin,dc=dce,dc=com
  admin_password:
  ssl: false
  <<: *default

test:
  host:
  port: 389
  admin_user:
  admin_password:
  ssl: simple_tls
  <<: *default

production:
  host:
  port: 636
  admin_user:
  admin_password:
  ssl: start_tls
  <<: *default
