<% @page_title = "Server Error: #{application_name}" %>

<div id="content" class="col-md-9 col-sm-8">
  <div class="col-sm-10">
    <header>
      <h1>Server Error</h1>
      <p>Something went wrong with <%= application_name %>.
        Please try again, or <%= link_to 'let us know', contact_us_url %> if it continues.
        We apologize for the inconvenience.</p>
    </header>
  </div>
</div>
