<ul>
  <%
  overlap_length = accession_overlap(component_maps)

  component_maps.each_with_index do |comp, i| %>
    <li>
      <%=
      link_to(
        image_tag(comp["square_thumbnail_url_ssm"].first),
        main_app.catalog_ark_path("ark:", params["shoulder"], comp.id),
        :id => "componentmap#{i}"
      )
      %>
      <%=
      acc_num = comp["accession_number_ssim"].first
      link_to(
        content_tag(:span,
                    acc_num.slice(overlap_length, acc_num.length),
                    class: "tray-label"),
        main_app.catalog_ark_path("ark:", params["shoulder"], comp.id)
      )
      %>
    </li>
  <% end %>
</ul>
