<% component_maps = document.component_maps %>
<% index_maps = document.index_maps.reject { |i| i["square_thumbnail_url_ssm"].nil? } %>

<% if index_maps.present? %>
  <div class="col-md-3 map-tray">
    <h3>Index Maps</h3>
    <ul>
    <% index_maps.each_with_index do |map, i| %>
      <% shoulder = params["shoulder"] || map["identifier_ssm"].first.match(%r{ark:\/([^\/]+)\/.*})[1] %>
      <li>
        <%=
        link_to(
          image_tag(map["square_thumbnail_url_ssm"].first),
          main_app.catalog_ark_path("ark:", shoulder, map.id),
          :id => "indexmap#{i}"
        )
        %> <%=
        link_to(
          content_tag(:span, map["title_tesim"].first, class: "tray-label"),
          main_app.catalog_ark_path("ark:", shoulder, map.id)
        )
        %>
      </li>
    <% end %>
  </ul></div>
<% end %>

<% if component_maps.present? %>
  <% # If there are no index maps, take up the whole width of the screen
    if index_maps.count == 0 %>
      <div class="col-md-12 map-tray">
  <% # If there is a single index map, give it 2 / 12 columns
    elsif index_maps.count == 1 %>
      <div class="col-md-9 map-tray">
  <% end %>
  <h3>Component Maps</h3>
  <ul>
    <%
    overlap_length = accession_overlap(component_maps)

    component_maps.each_with_index do |comp, i| %>
      <% acc_num = comp["accession_number_ssim"].first %>
      <% shoulder = params["shoulder"] || comp["identifier_ssm"].first.match(%r{ark:\/([^\/]+)\/.*})[1] %>
      <li>
        <%=
        link_to(
          image_tag(comp["square_thumbnail_url_ssm"].first),
          main_app.catalog_ark_path("ark:", shoulder, comp.id),
          :id => "componentmap#{i}"
        )
        %> <%=
        link_to(
          content_tag(:span,
                      acc_num.slice(overlap_length, acc_num.length),
                      class: "tray-label"),
          main_app.catalog_ark_path("ark:", shoulder, comp.id)
        )
        %>
      </li>
    <% end %>
  </ul></div>
<% end %>
