<% mapsets = document.map_sets %>
<% collections = document.in_collections %>

<% if mapsets.present? || collections.present? %>

  <div class="panel panel-default parent_attrs">
    <div class="panel-heading">
      <h2>Collection Attributes</h2>
    </div>

    <table class="table table-striped attributes"><tbody>

      <% if collections.present? %>
        <tr><th>Collections</th>
          <td><ul class="tabular">
            <% document.in_collections.each_with_index do |collection, i| %>
              <% # TODO: index this in Solr %>
              <% shoulder = params["shoulder"] || collection["identifier_ssm"].first.match(%r{ark:\/([^\/]+)\/.*})[1] %>
              <li class="attribute">
                <%= link_to(
                  collection["title_tesim"].first,
                  main_app.catalog_ark_path("ark:",
                                            shoulder,
                                            collection.id)
                ) %>
              </li>
            <% end %>
          </ul>
          </td>
        </tr>
      <% end %>

      <% if !document.fetch("has_model_ssim", []).include?("MapSet") && mapsets.present? %>
      <tr><th>Map Sets</th>
        <td><ul class="tabular">
          <% mapsets.each do |set| %>
            <% shoulder = params["shoulder"] || set["identifier_ssm"].first.match(%r{ark:\/([^\/]+)\/.*})[1] %>

            <li class="attribute">
              <%= link_to(
                set["title_tesim"].first,
                main_app.catalog_ark_path("ark:",
                                          shoulder,
                                          set.id)
              ) %>
            </li>
          <% end %>
        </ul>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
<% end %>
