<% carousel = document["image_url_ssm"].present? && document["image_url_ssm"].count > 1 %>
<% pdfs_present = document.file_sets.select { |fs| fs["original_filename_ss"].include?('pdf') }.size > 0 ? true : false %>

<% if pdfs_present || !can_view_full_image?(document.id) %>
  <div class="row">
    <div class="col-md-6">
      <% if carousel %>
        <div class="stage-wrapper clearfix">
          <div class="stage clearfix">
            <div class="stage-container">
              <div class="jcarousel-wrapper">
                <div class="jcarousel">
                  <ul class="clearfix">
      <% end %>
      <% Array(document['image_url_ssm']).each do |img| %>
        <%= image_tag(img, style: 'width: 100%') %>
      <% end %>
      <% if carousel %>
                  </ul>
                </div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                <p class="jcarousel-pagination"></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
<div class="row zoom">
  <% if document["file_set_iiif_manifest_ssm"].present? %>

    <% if document["file_set_iiif_manifest_ssm"].size == 1 %>
      <%= openseadragon_picture_tag(
      document["file_set_iiif_manifest_ssm"]) %>
    <% else %>
      <%= openseadragon_picture_tag(
        document["file_set_iiif_manifest_ssm"],
        { data: { openseadragon: { tileSources:
        document["file_set_iiif_manifest_ssm"], sequenceMode: true } } }
      ) %>
    <% end %>
  <% end %>
</div>
<% end %>
