<% if document['description_tesim'].present? %>
  <%= content_for :head do %>
    <meta name="description" content="<%= document['description_tesim'].first.split('\n\n').first %>">
  <% end %>
<% end %>

<div class="row">
  <%= render 'show_header_default', document: document %>
</div>
