<%# This partial is overriden so the navbar partial won't be drawn %>
<% provide :page_class, 'search' %>

<% provide :sidebar do %>
  <%= render 'search_sidebar' %>
<% end %>

<div id="content">
  <%= render 'search_results' %>
</div>
